<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddItem(form)" #form="ngForm">
            <div class="row">
                <div class="col-sm-5">
                    <label for="name" class="form-label">Name</label>
                    <input id="name" type="text" class="form-control" ngModel name="name" required>
                </div>
                <div class="col-sm-2">
                    <label for="amount" class="form-label">Amount</label>
                    <input id="amount" type="number" class="form-control" ngModel name="amount" required pattern="^[1-9]+[0-9]*$">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 mt-2">
                    <button type="submit" class="btn btn-success" [disabled]="!form.valid">Add</button>
                    <button type="button" class="btn btn-danger mx-2">Delete</button>
                    <button type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>